
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: 'Gabarito', 'Roboto', 'Shrikhand', cursive;
    background-color: black;
    margin: 0;
    display: flex;
    color: white;
    flex-direction: column;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    background-color: rgb(19, 19, 19);
    color: white;
    position: fixed;
    width: 100%; /* Cambiado de 100vw a 100% */
    z-index: 999;
    /*background-image: url("media/backnav.jpg"); */
    background-size: cover;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .3s;
}

nav a:hover {
    color: #e37224;
}

nav img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #4db4b1;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.hero {
    padding-top: 3.5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    height: 50vw;
    width: 70%;
    overflow-y: hidden; /* Evita la aparición de la barra de desplazamiento horizontal */
    position: relative;
    font-size: 1.5vw;
    padding-bottom: 1rem;
    margin: auto;
}

.hero .primary {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 70%;
    height: 100%;
    overflow-y: hidden;
}

.hero .primary img {
    object-fit: cover;
    height: 70%;
    border-radius: .2rem;
}

.hero .secondary {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-top: 2rem;
    width: 65%; /* Cambiado de width a max-width */
}

.hero .secondary .post {
    height: 50%;
    width: 100%;
}

.hero .secondary .post img {
    height: 45%;
    width: 100%;
    object-fit: cover;
    border-radius: .2rem;
}

.divider {
    text-align: center;
}

.divider img {
    width: 90vw;
    height: 30px;
}

.mainNoticias {
    display: flex;
    gap: 2rem;
}

.rightNews {
    background-color: #4db4b1;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 4.5rem;
    margin-right: 2rem;
    width: 45%;
    color: black;
}

.rightNew {
    margin-bottom: 3rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.rightNew img {
    width: 100%;
    border-radius: 1rem;
}

.author {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
}

.author img {
    width: 20px;
}

.news {
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.newsText {
    display: flex;
    flex-direction: column;
}

.new {
    display: flex;
    gap: 2rem;
    height: fit-content;
    font-size: 1.5vw;
    align-items: self-start;
}

.new img {
    width: 55%;
    height: 15vw;
    object-fit: cover;
}

.spotyPlaylist {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}



footer {
    margin-top: 2rem;
    background-color: #d93e32;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3rem;
}
