
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: 'Gabarito', 'Roboto', 'Shrikhand', cursive;
    background-color: black;
    margin: 0;
    display: flex;
    color: white;
    flex-direction: column;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    background-color: rgb(19, 19, 19);
    color: white;
    position: fixed;
    width: 100%; /* Cambiado de 100vw a 100% */
    z-index: 999;
    background-image: url("media/navBg.svg"); 
    background-size: cover;
    box-shadow: 0px 4px 20px rgb(0, 0, 0);
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .3s;
}

nav a:hover {
    color: black;
}

nav img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #4db4b1;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.aboutHeader {
    background-image: url(media/cassettes.png);
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 10rem;
    font-size: 2vw;
    color: #d93e32;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}


.aboutme {
    background-color: #4db4b1;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-evenly;
    font-size: 1.2vw;
    align-items: center;
}

.aboutme img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    background-color: #d93e32;
    padding: 2rem;
}

.aboutmeText {
    width: 50%;
}

.aboutme-2 {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-evenly;
    font-size: 1.2vw;
    align-items: center;
}

.aboutme-2 img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    background-color: #d93e32;
    padding: 2rem;
}

footer {
    margin-top: 2rem;
    background-color: #d93e32;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3rem;
}
